<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Artist A Day</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/products.css">
  <link rel="stylesheet" type="text/css" href="assets/css/product.css">
  <link rel="stylesheet" type="text/css" href="assets/css/portal.css">
  <link rel="stylesheet" type="text/css" href="assets/css/home.css">
</head>
<body>
  <nav class="nav">
    <div class="nav-wrapper myNav">
      <a href="#!" class="brand-logo center">ARTIST A DAY</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="./product.hbs">Products</a></li>
        <li><a href="./artistportal.hbs">Artist Portal</a></li>
      </ul>
    </div>
  </nav>

  {{{body}}}
 
  <footer class="page-footer product-footer">
    <div class="container">
      <div class="row">
        © 2020 Copyright ArtistADay
      </div>
    </div>
  </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>