<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>ArtistaDay</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="dist/css/chocolat.css" type="text/css" media="screen">
  <link rel="stylesheet" href="../../public/products.css">
  <link rel="stylesheet" href="../../public/product.css">
  <link rel="stylesheet" href="../../public/portal.css">
  

</head>
<body>

  {{{body}}}
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="dist/js/chocolat.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>