<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Logo</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="">Home</a></li>
      <li><a href="">Events</a></li>
      <li><a href="">Cart</a></li>

      <li class="active"><a href="collapsible.html">Products</a></li>
    </ul>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row left">
      <h1 class="header center teal-text text-lighten-2">Sebastio Salgado</h1>
      </div>
      <br><br>
      <div class="row right">
        <h5 class="header col s12 light">Descrirprtion of artwork</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button"
          class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="divider"></div>
<div class="section">
  <div class="row">
    <div class="col s4">
     <p>Test</p>
    </div>
    <div class="col s4">
    <p>Test</p>
    </div>
    <div class="col s4">
      <p>Test</p>
    </div>
  
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <h5>Section 2</h5>
  <p>Stuff</p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>Section 3</h5>
  <p>Stuff</p>
</div>