<form action="/imgur" method="post">
  <input type="file" name="photo" />
  <button type="submit">Submit</button>
</form>
<hr>
<ul id="images">
  {{#each user.image}}
  <li>Name: {{this.dataValues.name}}</li>
  {{/each}}
</ul>

<script src="../dashboard.js"></script>