<div class="container error center-align card-panel #ff5252 red accent-2 lighten-2">
  <h3>Oh no, error encountered. Please return to the upload page to try again.</h3>
  <button id="reroute">Return to Upload Page</button>
</div>