  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">ARTIST A DAY</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="#">Components</a></li>
        <li class="active"><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

  <h2 class="center-align">Today's Featured Artist</h2>
  <div class="container">
    <div class="divider"></div>
    <div class="section">
      <div class="responsive-img" id="featured">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F-RpBWHgYg6zI%2FTlgLMhnobJI%2FAAAAAAAAA1A%2F1b4vuRM3TgQ%2Fs1600%2FAfter%2Bthe%2BProm%2B-%2BNorman%2BRockwell%2B-%2B1957.jpg&f=1&nofb=1"
          alt="Norman Rockwell painting">
        <div class="right" id="artistName">
          <p>Artist Name</p>
          <p>Ends in: 00:12:36</p>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h3>Recently Featured Artists</h3>

      <div class="row">

        <div class="col s3">
          <div class="card">
            <div class="card-image">
              <img
                src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F-3FfL1hXUBG8%2FT2_ywqLBM2I%2FAAAAAAAAAfA%2FXaLlR_tcPyQ%2Fs1600%2F21810896_1207061229_1193223487_leonid_afremov_31.jpg&f=1&nofb=1"
                alt="colorful painting">
              <span class="card-title">Artwork Title</span>
            </div>
            <div class="card-content">
              <p>Artist Name</p>
            </div>
            <div class="card-action">
              <a href="#">Link to artwork</a>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card">
            <div class="card-image">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Mona_Lisa_%28copy%2C_Walters_Art_Gallery%29.JPG/220px-Mona_Lisa_%28copy%2C_Walters_Art_Gallery%29.JPG"
                alt="Mona Lisa">
              <span class="card-title">Artwork Title</span>
            </div>
            <div class="card-content">
              <p>Artist Name</p>
            </div>
            <div class="card-action">
              <a href="#">Link to artwork</a>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card">
            <div class="card-image">
              <img
                src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fanseladams.com%2Fwp-content%2Fuploads%2F2016%2F02%2Fimg08.jpg&f=1&nofb=1"
                alt="Ansel Adams">
              <span class="card-title">Artwork Title</span>
            </div>
            <div class="card-content">
              <p>Artist Name</p>
            </div>
            <div class="card-action">
              <a href="#">Link to artwork</a>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card">
            <div class="card-image">
              <img
                src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.arteestdefamo.com%2Fimages%2Fstarry-night.gif&f=1&nofb=1"
                alt="starry night">
              <span class="card-title">Artwork Title</span>
            </div>
            <div class="card-content">
              <p>Artist Name</p>
            </div>
            <div class="card-action">
              <a href="#">Link to artwork</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../public/assets/js/home.js"></script>
