<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Logo</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="home.hbs">Home</a></li>
      <li><a href="">Components</a></li>
      <li class="active"><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>

<h1>Name:{{this.dataValues.name}}</h1>
<div id="test"></div>
<script src="../public/assets/js/event.js"></script>