<div class="container success center-align card-panel teal lighten-2">
  <h3>Upload successful! Would you like to upload another artwork piece?</h3>
  <button id="reroute">Upload another</button>
</div>