.myNav {
  background-color: #29b6f6;
}

.portal-header {
  background-image: 
  height: 500px;
  background-position: center;
  background-size: cover;
  clear: both;
  float: initial;
  color: white
}

.form-section {
  padding: 10px;
  outline-style: solid;
  outline-width: thin;
}