.myNav {
  background-color: #29b6f6;
}

.featured-description-box {
  padding: 10px;
  outline-style: solid;
  outline-width: thin;
}

.featured-product-image {
  height: 600px;
  width: 700px;
  padding-top: 5px;
  

}
 .product-footer {
  background-color: #29b6f6;
  padding-bottom: 20px;
}